<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This App is created by `Software Developder` Harsh Arya.</p>
        <img class="portrait" src="/img/me.jpeg" alt="">
    </div>
    {{>footer}}
</body>
</html>